li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  height: 40px;

  background-color: #e5e3dd;
  border-radius: 5px;

  width: 300px;
  padding: 10px;

  .info-index {
    display: flex;
    gap: 10px;
  }
}

.total-price {
  font-size: 14px;
  display: block;
  margin-top: 10px;
  text-align: right;
}
