button {
  border: 0;
  padding: 8px;
  border-radius: 5px;
  margin-top: 10px;
  width: 80%;
  cursor: pointer;

  font-size: 16px;

  background-color: #1c8fc7;
  color: #eef0f1;

  align-self: center;
  text-align: center;
}

button:disabled {
  filter: brightness(0.85);
}

button:hover {
  transition: 0.2s;
  filter: brightness(1.15);
}
