.form-box {
  width: 300px;
  height: 375px;
  background-color: #e5e3dd;
  border-radius: 10px;
  padding: 20px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  p {
    text-align: left;
  }

  form {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}
