.confirm-page {
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin: 10px 0;
  text-align: center;

  h1 {
    font-size: 18px;
  }
  span {
    font-size: 14px;
  }
}

.order-content {
  text-align: left;
  margin-top: 20px;

  .order-number {
    font-size: 12px;
  }

  ul {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

@media (min-width: 768px) {
  .confirm-page {
    button {
      width: 180px;
    }
  }
}
